:root {
  --ff-sans: "Open Sans", sans-serif;
  --ff-book: "Gentium Book Plus", sans-serif;

  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2.75rem;

  --clr-screamin-green: #4eff7f;
  --clr-chestnut-rose: #cd5c5c;
  /* --clr-bittersweet: #ff6f66; */
  --clr-donkey-brown: #a39380;
  --clr-ebony-clay: #263541;
  --clr-bonjour: #fafbfa;
  --clr-blush: #bc3e64;
  --clr-fiord: #335065;
  --clr-wedgewood: #517fa0;
  --clr-new-york-pink: #d98585;
  --clr-alto: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
  height: 100dvh;
  font-size: 16px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.background-img {
  background-image: url("assets/nick-fewings-f2Bi-VBs71M-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px) brightness(70%);
  position: absolute;
  z-index: 1;
  height: 100dvh;
  width: 100dvw;
}

img {
  display: block;
  width: 100%;
}

.container {
  padding-block: 2rem;
  padding-inline: 4rem;
}

.unfocus {
  filter: brightness(50%);
}

main,
header {
  width: 70%;
  z-index: 10;
}

/* MODAL */
.modal {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  font-family: var(--ff-sans);
}

.modal-content {
  position: relative;
  padding: 1.5rem;

  width: clamp(300px, 20%, 350px);

  top: 30%;
  margin-inline: auto;
  margin-block: auto;

  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 10px;

  background-color: var(--clr-bonjour);
}

.modal-content > div {
  width: 100%;
}

.modal-content input {
  width: 100%;
  height: 30px;
  font-size: var(--fs-500);
  color: var(--clr-blush);
}

.modal-content label {
  display: block;
  color: var(--clr-fiord);
  font-size: var(--fs-600);
}

.modal-content > span {
  align-self: flex-end;
  margin-bottom: -20px;
  color: var(--clr-ebony-clay);
  font-size: var(--fs-500);
}

.modal-content > span:hover {
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(1.3);
}

.modal-content button {
  background-color: var(--clr-fiord);
  color: var(--clr-bonjour);
  border: none;

  font-weight: bold;
  font-size: 1rem;
  font-family: var(--ff-sans);

  align-self: flex-end;
  margin-top: 1rem;
}

.modal-content button:hover {
  cursor: pointer;
  background-color: var(--clr-wedgewood);
  transition: transform 0.2s ease;
  transform: scale(1.05);
}

.modal-pages-read {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
}

.modal-pages-read > label:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.modal-pages-read > label:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}

.modal-pages-read > input:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.modal-radio {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 10px;
}

.radio-yes,
.radio-no {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-yes input,
.radio-no input {
  appearance: none;
  position: relative;

  height: var(--fs-500);
  width: var(--fs-500);

  border-radius: 50%;
  border: 2px solid #999;
  transition: 0.2s all linear;
}

.modal-radio input:checked {
  border: 6px solid var(--clr-blush);
}

/* HEADER ELEMENTS */

header {
  flex: 0.2;
  z-index: 100;

  background-color: var(--clr-bonjour);
}

.library-header {
  display: grid;
  grid-template-columns: 2fr 400px;
  grid-template-rows: 1fr 1fr;
  grid-column: 1 / 2;

  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
  width: 100%;

  font-family: var(--ff-book);
}

.library-header h1 {
  color: var(--clr-fiord);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: 700;
  font-size: 2.75rem;
}

.library-header span {
  color: var(--clr-ebony-clay);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-width: 70ch;
  font-weight: 500;
  font-style: italic;
  font-size: 1.25rem;
}

.library-header input {
  font-size: var(--fs-500);
  color: var(--clr-blush);
  margin-left: 0.5rem;
}

.search {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.search svg {
  width: var(--fs-800);
  margin-top: 2px;
}

.control {
  grid-column: 2 /3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control button {
  background-color: var(--clr-fiord);
  color: var(--clr-bonjour);
  border: none;

  font-weight: bold;
  font-size: 1rem;
  font-family: var(--ff-sans);
}

.control button:hover {
  cursor: pointer;
  background-color: var(--clr-wedgewood);
  transition: transform 0.2s ease;
  transform: scale(1.05);
}

.control button:first-child label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control button:first-child label > svg {
  fill: var(--clr-bonjour);
  width: 1.25rem;
}

.control button:first-child > *:hover {
  cursor: pointer;
}

.control button:nth-child(3) {
  background-color: var(--clr-chestnut-rose);
}

.control button:nth-child(3):hover {
  background-color: var(--clr-new-york-pink);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-sort {
  position: absolute;
  background-color: var(--clr-bonjour);
  font-family: var(--ff-sans);
  margin-top: 5px;
  font-size: 1rem;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdown-sort div {
  color: var(--clr-fiord);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-sort div:hover {
  background-color: #e9e9e9;
  cursor: pointer;
  border-radius: 5px;
}

svg {
  width: 1.5rem;
  color: var(--clr-fiord);
}

input {
  border: none;
  border-bottom: 2px solid var(--clr-alto);
  background-color: var(--clr-bonjour);
  color: var(--clr-blush);
  flex: 1;
  padding-block: 2px;
}

input:focus {
  outline: none;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
}

/* MAIN ELEMENTS */

main {
  flex: 0.8;

  background-color: var(--clr-fiord);
  overflow-y: scroll;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 30px;
  padding-top: 4rem;
}

.book {
  position: relative;
  padding: 1rem;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr 4fr;
  row-gap: 10px;

  border-radius: 10px;
  border-left: 10px solid var(--clr-blush);
  border-right: 2px solid var(--clr-bonjour);
  border-bottom: 2px solid var(--clr-bonjour);

  background-color: var(--clr-donkey-brown);
  color: var(--clr-bonjour);
}

.book-remove {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  fill: var(--clr-bonjour);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.book-remove > svg {
  width: 1rem;
}

.book-remove > svg:hover {
  cursor: pointer;
}

.book-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  font-size: var(--fs-700);
  font-weight: 700;
}

.book-author {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  font-size: var(--fs-600);
  font-weight: 500;
}

.book-pages {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  font-size: var(--fs-600);

  align-self: end;
  justify-self: end;
}

.book-title,
.book-author {
  word-wrap: break-word;
  word-break: break-all;
}

.book-read {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: start;

  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.book-read > * {
  width: 1.375rem;
  align-self: end;
  justify-self: end;
  fill: var(--clr-bonjour);
}

.book-read > *:hover {
  cursor: pointer;
}

.book-remove > *:hover,
.book-read > *:hover {
  transition: transform 0.2s ease;
  transform: scale(1.15);
}

.isRead {
  fill: var(--clr-screamin-green);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* ANIMATIONS */
