/* :root {
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
  height: 100dvh;
  font-size: 16px;
}

main {
  border: 2px solid red;
}

header {
  border: 2px solid blue;
}

img {
  display: block;
  width: 100%;
}

.library-manager > .search {
  display: flex;
  align-items: center;
}

svg {
  width: 1.5rem;
}
